.c-masthead {
  margin-top: -$nav-height;
  background: {
    color: $_color-darkshaft;
    image: url(/static/images/raw/backgrounds/home-masthead.jpg);
    position: center;
    size: cover;
  }
  color: $_color-white;
}
