doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title FashTime - About
    style
      include ../styles/about.core.css
  body
    include components/header
    include components/masthead-about
    div(style="padding: 50px")
      include components/text-block
      include components/text-block
    include components/sitemap
