doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title FashTime - About
    style
      include ../styles/about.core.css
  body
    - var headerpageName = "About"
    include components/header
    include components/masthead-about
    include components/about
    include components/sitemap
    include components/loadFont
