include components/header
include components/sitemap

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title FashTime - For Business
    style
      include ../styles/business.core.css
  body
    +header("For Business")
    include components/masthead-business
    include components/business
    +sitemap()
    include components/loadFont
