doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title FashTime - About
    style
      include ../styles/hw.core.css
  body
    - var headerpageName = "Home work"
    include components/header
    include components/masthead-hw
    include components/hw
    include components/sitemap
    include components/loadFont
