include components/header
include components/sitemap

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title FashTime - About
    style
      include ../styles/hw.core.css
    include components/head
  body
    +header("Home work")
    include components/masthead-hw
    include components/hw
    +sitemap()
    include components/loadFont
    include components/ga
