doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title FashTime
    style
      include ../styles/home.core.css
  body
    include components/masthead-home
    include components/sitemap
