include components/header
include components/sitemap

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title FashTime
    style
      include ../styles/home.core.css
  body
    +header("Home", "c-header--apps")
    include components/masthead-home
    +sitemap("c-footer--colored")
    include components/loadFont
