include components/title
include components/text-block
include components/header
include components/sitemap

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title FashTime - Privacy
    style
      include ../styles/privacy.core.css
  body
    +header("Privacy")
    include components/privacy
    +sitemap()
    include components/loadFont
