// Vars
$bus-screen-margin: 50px;
$bus-screen-title-margin: 75px;
$bus-screen-descr-w: 250px;
$bus-screen-descr-w-l: 450px;
$bus-screen-w: 400px;
$bus-screen-w-s: 200px;
$bus-circle-title-pad: 10px;
$bus-circle-margin: 25px;
$bus-circle-w: 150px;
$bus-summary-pad: 25px;
$bus-summary-pad-l: 50px;
$bus-summary-w: 600px;

.c-bus .o-title {
  margin-top: 50px;
}

.c-bus__wrapper {
  @include _sidepadding;
  @include _wrapper;
}

.c-bus__screen {

  &.colored {
    @include _alternateColor2;
  }

  &.colored2 {
    @include _alternateColor;
  }

  .c-bus__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $bus-screen-margin;
    padding-bottom: $bus-screen-margin;
  }
}

.c-bus__img {
  width: $bus-screen-w;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.c-bus__descr {
  margin-left: 100px;
  flex: 1;
}

.c-bus__descr-title {
  margin-bottom: $bus-screen-title-margin;
  font-size: $_fs-normal;
  font-weight: bold;
}

.c-bus__descr {
  max-width: $bus-screen-descr-w;
}

.c-bus__screen-1-3 {
  .c-bus__img {
    width: $bus-screen-w-s;
  }

  .c-bus__descr {
    max-width: $bus-screen-descr-w-l;
  }

  .c-bus__descr-title {
    margin-bottom: 50px;
    font-size: $_fs-small;
  }

  .c-bus__descr-body {
    font-size: $_fs-xsmall;
  }
}

.c-bus-analytics {
  margin-bottom: 50px;
}

.c-bus__circles {
  display: flex;
  margin-top: $bus-screen-margin;
}

.c-bus__circle {

  flex: 1;
  margin-left: $bus-circle-margin;
  text-align: center;

  &:first-child {
    margin-left: 0;
  }
}

.c-bus__circle-title {
  @include _gradient;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $bus-circle-title-pad;
  width: $bus-circle-w;
  height: $bus-circle-w;
  color: $_color-white;
  border-radius: 50%;
}

.c-bus__circle-body .o-text-block {
  text-align: left;
  font-size: $_fs-xsmall;
}

.c-bus__summary {
  @include _gradient;

  padding-top: 25px;
  padding-bottom: 25px;
  color: $_color-white;

  .c-bus__wrapper {
    max-width: 500px;
  }
}

.c-bus__cta {
  margin: 50px 0;
  text-align: center;
  color: $_color-grey;
}

.c-bus__cta-link {
  display: inline-block;
  margin-top: 25px;
  text-decoration: underline;
  font-size: $_fs-normal;
}

@media (max-width: $_bp-m) {
  .c-bus__screen {
    .c-bus__wrapper {
      flex-direction: column;
    }

    .c-bus__descr {
      margin-left: 0;
      max-width: 100%;
      text-align: center;
    }
  }

  .c-bus__img {
    margin-bottom: $bus-screen-margin;
    max-width: 100%;
  }

  .c-bus__circles {
    margin-top: 0;
    flex-direction: column;
  }

  .c-bus__circle {
    flex: 1;
    margin-left: 0;
    margin-top: $bus-circle-margin;
    text-align: center;
  }
}
