.c-header {
  @include _sidepadding;
  @include _wrapper;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $nav-height;
}

.c-header__logo {
  height: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.c-header__page-name {
  color: $_color-grey;
}
