// Vars
$hdr-logo-h: 35px;

$hdr-btn-padding: 15px;
$hdr-btn-h: 65px;

.c-header {
  @include _sidepadding;
  @include _wrapper;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $nav-height;
}

.c-header--apps {
  .c-header__page-name {
    display: none;
  }

  .c-header__btns {
    display: flex;
  }
}

.c-header__logo {
  height: $hdr-logo-h;

  img {
    margin-right: 15px;
    max-width: 100%;
    max-height: 100%;
  }
}

.c-header__page-name {
  color: $_color-grey;
}

.c-header__btns {
  display: none;
}

.c-header__ios-btn,
.c-header__andr-btn {
  padding: $hdr-btn-padding;
  height: $hdr-btn-h;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.c-header__andr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($_color-darkshaft, 0.4);
  font-size: $_fs-xsmall;
}
