// Vars
$hw-gutter: 50px;
$hw-par-margin: 50px;

.c-hw {
  margin-bottom: $hw-par-margin;
}

.c-hw .o-title {
  margin-bottom: $hw-par-margin;
}

.c-hw__par {
  @include _alternateColor;

  padding-top: $hw-par-margin;
  padding-bottom: $hw-par-margin;
}

.c-hw__par-content,
.c-hw__competences {
  @include _sidepadding;
  @include _wrapper;
}

.c-hw__text-block {
  margin-top: $title-margin;
}

.c-hw__competences .o-divider {
  margin-top: 0;
}
