// Vars
$mh-bus-h: 550px;
$mh-bus-lead-margin: 75px;
$mh-bus-lead-w: 1000px;

.c-masthead {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: $grid-margin-side;
  height: $mh-bus-h;
  height: calc(100% - #{$nav-height});
  background-color: $_color-darkshaft;
  background-image: url(images/business-masthead.png);
  background-size: cover;
  background-position: center;
}

.c-masthead__lead {
  @include _sidepadding;
  @include _wrapper;

  align-self: flex-start;
  max-width: $mh-bus-lead-w;
  color: $_color-white;
  font-size: $_fs-xlarge;
  text-align: center;
}

@media (max-width: $_bp-m) {
  .c-masthead__lead {
    font-size: $_fs-medium;
  }
}
