// Vars
$mh-home-h: 550px;
$mh-home-lead-margin: 25px;
$mh-home-btn-padding: 15px;
$mh-home-btn-w: 175px;
$mh-home-btn-h: 65px;

.c-masthead {
  @include _sidepadding;

  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $grid-margin-side;
  min-height: $mh-home-h;
  min-height: calc(100% - #{$nav-height});
}

.c-masthead__lead {
  align-self: flex-start;
  margin-top: $mh-home-lead-margin;
  color: $_color-white;
  font-size: $_fs-normal;
}

.c-masthead__video {
  position: relative;
  margin-top: -65px;
	width: 640px;
  height: 360px;
}


.c-masthead__video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.c-masthead__btns {
  display: flex;
}

.c-masthead__ios-btn,
.c-masthead__andr-btn {
  background-color: $_color-white;
  border-radius: 8px;
  padding: $mh-home-btn-padding;
  width: $mh-home-btn-w;
  height: $mh-home-btn-h;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.c-masthead__andr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  color: rgba($_color-darkshaft, 0.4);
}

.c-masthead__arrow {
  margin-top: 25px;
}

@media (max-width: $_bp-m) {
  .c-masthead__btns {
    flex-direction: column;
  }

  .c-masthead__andr-btn {
    margin-top: 15px;
    margin-left: 0;
  }

  .c-masthead__video {
    padding-bottom: 56.25%; /* 16:9 */
  	height: 0;
    width: 640px;
    max-width: 100%;
  }
}
