// Vars
$mh-about-h: 550px;
$mh-about-lead-margin: 75px;
$mh-about-lead-w: 1000px;

.c-masthead {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $grid-margin-side;
  min-height: $mh-about-h;
  min-height: calc(100% - #{$nav-height});
  background-color: $_color-anzac;
  background-image: url(images/about-masthead.png);
  background-size: cover;
  background-position: center;

  @media (min-width: $_bp-m) {
    .o-text-block {
      font-size: $_fs-normal;
    }
  }
}

.c-masthead__lead {
  @include _sidepadding;
  @include _wrapper;

  align-self: flex-start;
  margin-top: $mh-about-lead-margin;
  max-width: $mh-about-lead-w;
  color: $_color-white;
  font-size: $_fs-small;
}
