// Vars
$mob-margin: 25px;
$mob-screen-margin: 50px;
$mob-screen-title-margin: 75px;
$mob-screen-descr-w: 400px;
$mob-screen-h: 400px;
$mob-screen-h-s: 300px;


.c-mobile {
  margin-bottom: $mob-margin;
}

.c-mobile__screen {
  @include _alternateColor;

  .c-mobile__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $mob-screen-margin;
    padding-bottom: $mob-screen-margin;
  }
}

.c-mobile__wrapper {
  @include _sidepadding;
  @include _wrapper;
}

.c-mobile__img {
  height: $mob-screen-h;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.c-mobile__descr {
  flex: 1;
  margin-left: 50px;
}

.c-mobile__descr-title {
  margin-bottom: $mob-screen-title-margin;
  font-size: $_fs-normal;
  font-weight: bold;
}

.c-mobile__descr-body .bigger {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}

.c-mobile__par {
  margin-top: $mob-screen-margin;
  margin-bottom: $mob-screen-margin;
}

.c-mobile__millennials {
  @include _divider;
}

.c-mobile__millennials-strip {
  @include _alternateColor;

  .c-mobile__wrapper {
    padding-top: $mob-screen-margin;
    padding-bottom: $mob-screen-margin;
  }
}

@media (max-width: $_bp-m) {
  .c-mobile__screen {
    .c-mobile__wrapper {
      flex-direction: column;
    }

    .c-mobile__descr {
      margin-left: 0;
    }
  }

  .c-mobile__img {
    margin-bottom: $mob-screen-margin;
    height: $mob-screen-h-s;
  }
}
