// Vars
$sitemap-title-margin: 25px;
$sitemap-item-margin: 15px;
$sitemap-block-width: 150px;

.c-sitemap {
  @include _sidepadding;
  @include _wrapper;
  
  display: flex;
  justify-content: space-between;
  font-size: $_fs-small;
}

.c-sitemap-block {
  min-width: $sitemap-block-width;
  text-align: center;
}

.c-sitemap-list {
  @include _listreset;

  position: relative;
}

.c-sitemap-list-title {
  margin: $sitemap-title-margin 0;
  text-transform: uppercase;
  font-weight: bold;
}

.c-sitemap-item {
  margin-bottom: $sitemap-item-margin;

  img {
    position: absolute;
    right: 0;
    max-width: 20px;
    max-height: 20px;
  }
}

@media (max-width: $_bp-m) {
  .c-sitemap {
    flex-direction: column;
  }

  .c-sitemap-item img {
    position: relative;
    margin-bottom: -5px;
    margin-left: $sitemap-item-margin;
  }
}
