// Vars
$tm-butterfly-w: 150px;
$tm-butterfly-w-s: 105px;
$tm-butterfly-margin: 25px;
$tm-tools-margin: 50px;
$tm-tool-margin: 50px;
$tm-tool-descr-margin: 50px;
$tm-tool-img-w: 100px;

.c-team {
  @include _sidepadding;
  @include _wrapper;
}

.c-team__cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-team__col--center {
  text-align: center;
}

.c-team__butterfly {
  margin-right: $tm-butterfly-margin;
  width: $tm-butterfly-w;
}

.c-team__tools {
  @include _divider;

  margin-top: $tm-tools-margin;
}

.c-team__tools-list {
  display: flex;
  justify-content: space-between;
}

.c-team__tool {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: $tm-tool-margin 0;
}

.c-team__tool-imgs {
  display: inline-flex;
  flex-direction: column;
}

.c-team__tool-img {
  max-width: $tm-tool-img-w;

  img {
    max-width: 100%;
  }
}

.c-team__tool-descr {
  margin-top: $tm-tool-descr-margin;
  max-width: 300px;
  text-align: center;
}

.c-team__hire {
  padding: 25px;
  height: 400px;
  background-color: $_color-darkshaft;
  background-image: url(/images/hiring.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.c-team__hire-box {
  margin: 50px auto 0;
  padding: 0 15px;
  width: 300px;
  max-width: 100%;
  height: 170px;
  background-color: $_color-white;
  border: 1px solid $_color-grey;
  border-radius: 6px;
}

.c-team__hire-list {
  @include _listreset;
}

.c-team__hire-item {
  padding: 15px;
  border-bottom: 1px solid $_color-grey;
}

.c-team__hire-label,
.c-team__hire-label-s {
  display: inline-block;
}

.c-team__hire-label-s {
  margin-left: 5px;
  font-size: $_fs-xsmall;
}

.c-team__hire-link {
  margin-left: 3px;
  color: $_color-crimson;
}

@media (max-width: 1000px) {
  .c-team__butterfly {
    width: $tm-butterfly-w-s;
  }
}

@media (max-width: $_bp-m) {
  .c-team__cols {
    flex-direction: column;
  }

  .c-team__col--center {
    display: none;
  }

  .c-team-member {
    text-align: center;
  }

  .c-team-member__info {
    justify-content: center;
  }

  .c-team__tools-list {
    display: flex;
    flex-direction: column;
  }

  .c-team__tool {
    display: flex;
  }

  .c-team__tool-descr {
    margin-top: 0.5 * $tm-tool-descr-margin;
    margin-left: 0;
    max-width: none;
    text-align: center;
  }
}
