@font-face {
    font-family: 'Lato Web';
    src: url('/fonts/Lato/fonts/Lato-Regular.eot');
    src: url('/fonts/Lato/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Lato/fonts/Lato-Regular.woff') format('woff'),
         url('/fonts/Lato/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
