// Resets

@mixin _listreset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin _linkreset {
  color: currentColor;
  text-decoration: none;
}

@mixin _clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Grid related

@mixin _sidepadding {
  padding-left: $grid-margin-side;
  padding-right: $grid-margin-side;
}

@mixin _wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

// Transitions

@mixin _fasttransition($property) {
  transition: $property 0.3s ease-in-out;
}

// Cosmetic

@mixin _divider {
  border-top: 5px solid $_color-crimson;
}

@mixin _gradient {
  background-color: $_color-crimson;
  background-image: linear-gradient(to right, $_color-crimson, $_color-orange);
}

@mixin _alternateColor {
  &:nth-child(2n) {
    @include _gradient;
    color: white;
  }
}
