// Font size
$_fs-large:         45px;
$_fs-medium:        36px;
$_fs-normal:        27px;
$_fs-small:         18px;
$_fs-xsmall:        12px;

// Colors
$_color-alabaster:  #FAFAFA;
$_color-anzac:      #DE9C48;
$_color-crimson:    #FD3A6B;
$_color-darkshaft:  #333333;
$_color-grey:       #B2B2B2;
$_color-lightgrey:  #F1F1F1;
$_color-orange:     #FD6E41;
$_color-white:      #FFFFFF;

// Breakpoints
$_bp-s:             320px;
$_bp-m:             768px;
$_bp-l:             1024px;

// Site-wide sizes
$grid-margin-side:  25px;
$nav-height:        75px;
