// Size
$prod-info-width: 800px;

// Spacing
$prod-info-padding-bottom: 150px;
$prod-info-title-margin-top: 30px;
$prod-info-title-margin-bottom: 15px;

.c-prodotto-info {
  padding-bottom: $prod-info-padding-bottom;
  max-width: $prod-info-width;

  .o-text-block-title {
    margin-top: $prod-info-title-margin-top;
    margin-bottom: $prod-info-title-margin-bottom;
  }

  .o-table td:first-child {
    font-weight: bold;
  }
}
