// Spacing
$tb-pad:  15px;

.o-text-block {
  padding: $tb-pad 0;

  & + .o-text-block {
    @include _divider;
  }
}

.o-text-block__title {
  font-size: $_fs-normal;
  font-weight: normal;
}

.o-text-block__text {
  font-size: $_fs-small;
}
