include title
include text-block

.c-about
  +title("Why we are here: A living breathing purpose")
  +text-block("FashTime was born to:<p>Add more colours and bring more light into our life; Be an inspiration for more life self-expression, - transparency, -awareness and -improvement.</p> We believe in adding more to Life through design-&-tech-driven social-digital products and inspiring living breathing creative projects.")

  include divider

  +title("What we see & chase: Current Vision")
  +text-block("FashTime's vision is the framework for our Roadmap + guides every aspect of our business by describing what we need to accomplish in order to continue achieving sustainable, quality growth.")
  +text-block("(Planet)<br>FashTime sees a world where we, all of us, can:")
  +text-block("Wear our true colours (show our true self) and feel like our best selves (be confident about ourselves): without the pressure to please others and fear of non-recognition, while still being respectful and open;")
  +text-block("Truly preserve our past & easily relive it (live for the moment without forgetting our past, who we are): while getting rid of what prevents us to fully live the present (challenging ourselves in order to change for the better);")
  +text-block("Be seen and feel truly recognized for who we are: in the future everyone will have their ’15 minutes’. Literally.")
  +text-block("(Product)<br>FashTime sees itself to:")
  +text-block("Be world-recognized as a comprehensive, fun, impartial and efficient social-digital ecosystem;")
  +text-block("Be seen as a social-digital reference point of the online fashion world (and beyond).")
  +text-block("Be seen as a (fashion) social-digital reference point for Millennials.")
  +text-block("(Productivity)<br>Be known as a company that thrives on design-thinking and social-digital innovation<br>Be an environment where disruptive ideas are executed quickly, while learning from mistakes.")
  +text-block("(People)<br>Be a place of work where people <em>can wear their true colours, feel like their best selves and feel truly recognized for who they are and what they do.</em>")
  +text-block("(Partners)<br>Add value on a constant basis for our evolving portfolio of partners, without compromising the essence of the company.")

  include divider

  +title("What we do & how: Current Mission")
  +text-block("(Mission Statement)<br>FashTime is on a mission to create social-digital disruptions that:")
  +text-block("Transform how we perceive Fashion, ourselves and the world around us;")
  +text-block("Make us more connected, wishful to share and willing to help (through Fashion).")
  +text-block("How? By empowering us to connect smartly, share and discover magically, like and think differently, help and decide quickly (playfully).")
  +text-block("(Mission related to People)<br>Currently, people use FashTime's products to:")
  +text-block("Be able to wear their true colors and feel like their best selves, while sharing life’s moments that inspire the world.")
  +text-block("Truly preserve their past and easily relive it, by sketching out their life’s moments.")
  +text-block("Get rid of what prevents them to fully live the present, by sketching out and deciding - together with the community - on their life’s challenges.")
  +text-block("Be seen & Feel truly recognized for who they are, by killing ‘the Like’ and thinking in Seconds.")

  include divider

  +title("Values, Messages, About our logo")
  +text-block("Unity, Fun, Freedom, Transformation.")
  +text-block('"Wear your true colors", "Feel like your best self" “Do live, don’t forget” "Challenge yourself" "Change for the better" "Feel truly recognized" "Be You. Keep it 100" "Be Confident"  “Be Forever. DFWYA” “Be Better” "Be Free. Kill the Like" “Think in Seconds”')
  +text-block('“Be what u want, when u want, where u want ‘n how u want”.<br>“What u wear, what u do, when ‘n where”<br>Our logo represents our purpose, vision and mission. The Butterfly is the symbol of unity, fun, freedom and transformations. This powerful insect is an inspiration for adding more color into our life and self- expression. Those who have the butterfly as a totem may be naturally inclined to express themselves openly and change constantly, to reflect their colors into their environment.')

  include divider

  +title("Quick Product Overview")
  +text-block("So far, we've created 3 products, soon seamless connected. Follow the way of the butterfly...")

  include products-strip

  include divider

  +title("About the Future: Some Considerations")
  +text-block("FashTime is...")
  +text-block("The first taste of our sense of purpose;<br>The catalyst necessary to achieve our ‘ultimate big vision’ and implement our 'ultimate mission';<br>The preliminary step necessary to lay the foundations for our actual future existence.")
  +text-block("We are ready to move on to the next level...soon: More Life, Bigger Vision, Bigger Mission, More Products, More Features.")
