include title
include title-squared
include text-block

.c-bus
  include products-strip
  +text-block("FashTime offers two additional products: The FashTime web app and FashTime Analytics. These products are especially for businesses. They can be used on top of the FashTime’s mobile app.")
  +title("The FashTime Web App: What it is and how it works")
  +text-block("FashTime’s web app is the #1 photo-sharing business-oriented web app to enable users to vote between two paired photos with a click: it enables professional users to upload 2 photos next to one another, combined with a “A or B” voting system. Voters get to discover the content in an engaging way and choose their preferred photo. No need to download the mobile app.")
  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp1.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 1. Create
      .c-bus__descr-body
        div • Create your 2-in-1 Photo post (Challenge).
        div • Tag the photo items (product type, price, e-commerce link)
  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp2.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 2. Share & Wait
      .c-bus__descr-body
        div • Share on Facebook & many other channels: engage your followers with a new type of post (it’s a game!)
        div • Wait for your followers to vote (or purchase through the e-commerce link)
  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp3.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 3. Ready to get the Report & Decide?
      .c-bus__descr-body Once your challenge has expired you can instantly access the integrated report & take your business / fashion decisions (see FashTime Analytics)

  include divider
  +title("FashTime Analytics: What it is and how it works")
  +text-block("FashTime Analytics is the #1 provider of the Time-based HeatMap. Targeted (web) analytics that let you take fast and better decisions: truly get to know your followers and their tastes.")

  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp4.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 4. Get the Report & Decide quickly
      .c-bus__descr-body Demographic: Total votes, Geolocation, Gender, Age Range; HeatMap: See where people look at and for how long.
  +text-block("Soon to come: the report will be available both via FashTime web app and FashTime mobile app")

  include divider
  +title("More about the FashTime Web App: How to obtain the best Results")
  .c-bus__circles
    .c-bus__circle
      .c-bus__circle-title Social Media
      .c-bus__circle-body
        +text-block("Directly share your Challenge on Facebook and upload it on other social media platforms as well. Followers of your already-existing social media profiles can simply vote with one click. No app download required.")
    .c-bus__circle
      .c-bus__circle-title E-mail Newsletter
      .c-bus__circle-body
        +text-block("Send out a different type of newsletter. Include a Challenge into your email campaigns to trigger a response. With one click, the reader is redirected to your Challenge and can vote & explore the FashTags.")
    .c-bus__circle
      .c-bus__circle-title Affiliate Marketing Programs
      .c-bus__circle-body
        +text-block("Use the Challenge as a banner post on other pages. Connect the websites of the influencers you collaborate with to your Challenge. Drive engagement and receive new feedback.")
    .c-bus__circle
      .c-bus__circle-title In-store Engagement
      .c-bus__circle-body
        +text-block("Engage your store visitors with the Challenge. Let them vote for content on a digital touchscreen and discover their favorite looks.")

  include divider
  +title("Our Differentiating Technology")
  .c-bus__circles
    .c-bus__circle
      .c-bus__circle-title Bubble post/tagging
      .c-bus__circle-body
        +text-block("It empowers users to sum up and discover life’s moments & challenges magically. UX/UI design is an emerging field in the tech industry.")
    .c-bus__circle
      .c-bus__circle-title Time-based Like
      .c-bus__circle-body
        +text-block("Time as an appreciation tool. It empowers users to think & analyze trends differently.")
    .c-bus__circle
      .c-bus__circle-title A-B swipe/A-B click
      .c-bus__circle-body
        +text-block("The swipe-to-vote tech is applied to 2 paired photos. It empowers users to decide quickly. The click-to-vote tech is exploitable by brands for the first time in a web app.")
    .c-bus__circle
      .c-bus__circle-title Time-Based HeatMap
      .c-bus__circle-body
        +text-block("It empowers brands to know where users look at in a photo + for how long")
  +text-block("<p>Additional mentionable technology: FashTag tag items in the photos that are posted. It includes all useful information about an article and allows for quicker e-commerce conversion from your social networks. With one click, users can directly go to the exact online shop location of the article they just saw.</p>Soon to come: working on a new video-oriented technology.")


  include divider
  +title("Added Value: How businesses benefit from FashTime’s products")
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp5.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Engage & Reach Followers through a new magical experience (Engagement/Marketing)
      .c-bus__descr-body Through the mobile app, you can share your products and be discovered in a new magical way, thanks to our bubbles. This way, you can speak a social ‘language’, closer to your customers. Through the web app, you can let your Facebook followers directly engage with your 2-in-1 photo posts: no need to download the mobile app. Truly connect to your followers and make them feel part of your brand’s community.sts in a truly different way. No need to download mobile app.
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp6.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Connect directly to your site + Know easily about your products’ use
      .c-bus__descr-body Moments and Challenges include FashTags, that clearly identify the products in each photo. Responsive website links allow for direct online purchasing from your web store. Through our bubbles, brands can instantly get to know how, when & where costumers use their products.
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp7.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Catch trends with a new & different social currency: Time
      .c-bus__descr-body Since Time is fractionable, brands can have deeper insights about their followers and stop playing the game of likes. Different Ratios enhance the service, such as Time/follower/post etc.
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp8.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Engage Followers with a new game. Take quick decisions (Crowd-source Design)
      .c-bus__descr-body You can exploit the A-B swipe & A-B click technology with your followers, turning boring market research into a game. Quickly solve challenges such as “What should I produce, sell, what do my followers prefer?”. Actively involve your follower base in your brand’s decision-making process. Make them feel part of the message your brand is delivering. Choose looks from your next collection and ask your follower base which ones they love the most. Make your production decisions based on what your followers really want.
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp9.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Targeted analytics that actually help you make concrete decisions (Merchandising)
      .c-bus__descr-body You can get to know the geolocation, age range and gender of all voters. We even tell you which area of both photos viewers are interested in most (HeatMap) and more to come. Get data before the sale is made. Save on inventory costs and know exactly which products are preferred.
  .c-bus__summary
    .c-bus__summary-box
      .c-bus__summary-title Using FashTime’s products provides your brand with:
      .c-bus__summary-body
        div • Higher social engagement & targeted ad possibilities
        div • Boosting e-commerce conversion rate from social media
        div • Insights to customer tastes before the purchase
        div • Unbiased testing of products and more

  .c-bus__cta
    .bus__cta.label Interested?
    button.c-bus__cta-btn Contact us
