include title
include title-squared
include text-block

.c-bus
  include products-strip
  +text-block("Beside FashTime mobile app (see FashTime mobile app), businesses can exploit two additional products.")
  +title("The FashTime Web App: what it is and how it works")
  +text-block("FashTime's mobile app is simply the new way (of perceiving Fashion). More specifically, FashTime's mobile app is...")
  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp1.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 1. Create
      .c-bus__descr-body
        div • Create your 2-in-1 Photo post (Challenge).
        div • Tag the photo items
  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp2.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 2. Share & Wait
      .c-bus__descr-body
        div • Share on Facebook & Instagram
        div • Wait for your followers to vote
  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp3.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 3. Ready to get the report & Decide?
      .c-bus__descr-body Once your challenge expired you can instantly have access to the integrated report &  take your business / fashion decisions (see FashTime Analytics)

  include divider
  +title("FashTime Analytics: what it is and how it works")
  +text-block("FashTime analytics is the #1 provider of the Time-based heat map. Targeted Analytics that let you take fast and better decisions")

  .c-bus__screen
    .c-bus__img
      img(src="/images/webapp4.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 4. Get the report & Decide quickly
      .c-bus__descr-body Total votes, Geolocation, Gender; Heatmap: see where people look at and for how long
  +text-block("Soon: the report will be available both via FashTime web app and FashTime mobile app")

  include divider
  +title("More about FashTime web app: How to obtain the best results")
  .c-bus__circles
    .c-bus__circle
      .c-bus__circle-title Social Media
      .c-bus__circle-body
        +text-block("Directly share your Challenge on Facebook and upload it on other social media platforms as well. Followers of your already-existing social media profiles can simply vote with one click. No app download required.")
    .c-bus__circle
      .c-bus__circle-title E-mail Newsletter
      .c-bus__circle-body
        +text-block("Send out a different type of newsletter. Include a Challenge into your email campaigns to trigger a response. With one click, the reader is redirected to your Challenge and can vote & explore the FashTags.")
    .c-bus__circle
      .c-bus__circle-title Affiliate Marketing Programs
      .c-bus__circle-body
        +text-block("Use the Challenge as a banner post on other pages. Connect the websites of the influencers you collaborate with to your Challenge. Drive engagement and receive new feedback.")
    .c-bus__circle
      .c-bus__circle-title In-store engagement
      .c-bus__circle-body
        +text-block("Engage your store visitors with the Challenge. Let them vote for content on a digital touchscreen and discover their favorite looks.")

  include divider
  +title("Our differentiating technology")
  .c-bus__circles
    .c-bus__circle
      .c-bus__circle-title Bubble post/tagging
      .c-bus__circle-body
        +text-block("It empowers users to sum up and discover life’s moments & challenges magically. UX/UI design is an emerging field in the tech industry. ")
    .c-bus__circle
      .c-bus__circle-title Time-based Like
      .c-bus__circle-body
        +text-block("Time as an appreciation tool.  It empowers users to think & analyze trends differently.")
    .c-bus__circle
      .c-bus__circle-title A-B swipe & A-B click
      .c-bus__circle-body
        +text-block("The swipe-to-vote tech is applied to 2 paired photos. It empowers users to decide quickly. The click-to-vote tech is exploitable by brands for the first time in a web app.")
    .c-bus__circle
      .c-bus__circle-title Time-based Heat map
      .c-bus__circle-body
        +text-block("It empowers brands to know where users look at in a photo + for how long")
  +text-block("<p>More: FashTag. Users can tag Category, Brand, Price, URL + purchase w/ a click.</p>Soon: working on a new video-oriented technology")


  include divider
  +title("How businesses can benefit from FashTime's products - Added Value")
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp5.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Engage & Reach Followers through a new magical experience
      .c-bus__descr-body Through the mobile app, brands can share their products and be discovered in a new magical way, thanks to our bubbles. This way, brands can speak a social ‘language’, closer to their costumers. Through the web app, brands can let their Facebook followers engage with their posts in a truly different way. No need to download mobile app.
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp6.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Connect directly to your site + Know easily about your products’ use
      .c-bus__descr-body Moments and Challenges include FashTags, that clearly identify the products in each photo. Responsive website links allow for direct online purchasing from your web store. Through our bubbles, brands can instantly get to know how, when & where costumers use their products.
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp7.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Catch trends with a new & different social currency: Time
      .c-bus__descr-body Since Time is fractionable, brands can have deeper insights about their followers and stop playing the game of likes. Different Ratios enhance the service, such as Time/follower/post etc.
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp8.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Engage Followers with a new game. Take quick decisions
      .c-bus__descr-body Brands are able to exploit the A-B swipe (& A-B click) with their followers, turning a boring market research into a game. Brands can quickly solve challenges such as “What should I produce, sell, what my followers prefer?”
  .c-bus__screen.c-bus__screen-1-3
    .c-bus__img
      img(src="/images/webapp9.png", alt="")
    .c-bus__descr
      .c-bus__descr-title Targeted analytics that actually help you make concrete decisions
      .c-bus__descr-body Brands can get to know the geolocation, age range and gender of all voters. We even tell you which area of both photos viewers are interested in most (Heat map) and more.
