include title
include title-squared
include text-block

.c-bus
  include products-strip
  +text-block("Beside FashTime mobile app (see FashTime mobile app), businesses can exploit two additional products.")
  +title("The FashTime Web App: what it is and how it works")
  +text-block("FashTime's mobile app is simply the new way (of perceiving Fashion). More specifically, FashTime's mobile app is...")
  .c-bus__screen
    .c-bus__img
      img(src="/images/raw/backgrounds/webapp1.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 1. Create
      .c-bus__descr-body
        div • Create your 2-in-1 Photo post (Challenge).
        div • Tag the photo items
  .c-bus__screen
    .c-bus__img
      img(src="/images/raw/backgrounds/webapp2.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 2. Share & Wait
      .c-bus__descr-body
        div • Share on Facebook & Instagram
        div • Wait for your followers to vote
  .c-bus__screen
    .c-bus__img
      img(src="/images/raw/backgrounds/webapp3.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 3. Ready to get the report & Decide?
      .c-bus__descr-body Once your challenge expired you can instantly have access to the integrated report &  take your business / fashion decisions (see FashTime Analytics)

  include divider
  +title("FashTime Analytics: what it is and how it works")
  +text-block("FashTime analytics is the #1 provider of the Time-based heat map. Targeted Analytics that let you take fast and better decisions")

  .c-bus__screen
    .c-bus__img
      img(src="/images/raw/backgrounds/webapp4.png", alt="")
    .c-bus__descr
      .c-bus__descr-title 4. Get the report & Decide quickly
      .c-bus__descr-body Total votes, Geolocation, Gender; Heatmap: see where people look at and for how long
  +text-block("Soon: the report will be available both via FashTime web app and FashTime mobile app")
