header.c-header
  a.c-header__logo(href="/")
    img(src="images/butterfly-colored.png", alt="FashTime's logo")
    img(src="images/fashtime.jpg", alt="FashTime's logo")
  .c-header__page-name= headerpageName
