header.c-header
  .c-header__logo
    img(src="images/raw/icons/butterfly-colored.png", alt="FashTime's logo")
    img(src="images/raw/icons/fashtime.jpg", alt="FashTime's logo")
  .c-header__page-name About
