include title
include title-squared
include text-block

.c-hw
  +title("What we understood: gaps & rooms for improvement")
  .c-hw__par
    .c-hw__par-title
      +title-squared("1. The perception of Fashion")
    .c-hw__par-body
      +text-block("The fashion tech market is stuck on an old perception of fashion. The concept of fashion is associated with vocabularies such as ‘feminine’ ‘fashion blogging’ ‘shopping’, ‘piece of cloth’. Fashion Apps are perceived as ‘Fashion Apps’: UX/UI have a feminine feeling or design in order to directly target the female segment. The male segment results to not have been penetrated yet (or not with the same intensity).")
  .c-hw__pars
    .c-hw__par
      .c-hw__par-title
        +title-squared("2. Networking & Connecting")
      .c-hw__par-body
        +text-block("Large social networks contain too much not fashion-related content, while fashion apps lack original social features. Fahsion apps are too female-oriented. Moreover, Fashion apps don’t differentiate among categories of users (no unification of users under the same social social community).")
    .c-hw__par.c-hw__par--gutter-left
      .c-hw__par-title
        +title-squared("3. Sharing & Discovering")
      .c-hw__par-body
        +text-block("Social apps such as Instagram or Snapchat have shown how transforming the way we share our life is key & a core differentiator. Fashion apps have focused on perfecting the way users tag fashion-related products during the sharing process: the market is full of  (Instagram) copy cats. Finally, Tags & Filters are too product-oriented: the focus is on ‘what I wear’ while ‘What I do’, ‘Where I do it’ & ‘when I do it’ has not been emphasized yet.")
  .c-hw__pars
    .c-hw__par
      .c-hw__par-title
        +title-squared("4. Liking & Thinking")
      .c-hw__par-body
        +text-block("Likes nowadays are meaningless. Liking a post is for some users a form of passive routinized action. On the contrary, those users who may be interested in a content don’t hit the thumb up, double tap or express any kind of reaction. Moreover, likes are not fractionable. Likes can be bought, aren’t divisible and nobody knows who or what is truly #trending anymore")
    .c-hw__par.c-hw__par--gutter-left
      .c-hw__par-title
        +title-squared("5. Helping & Taking Decisions")
      .c-hw__par-body
        +text-block("Couple of apps have been trying to help users take (fashion- related) decisions: incumbents have focused on allowing users to create social pools & survey-like posts within a community (i.e. what should I wear? A or B?). However, incumbents have not found a way to make users more open to recommendations & to recommend yet. Finally, when it comes to enhance decision-making processes, incumbents have not focused on the B2B side.")
  .c-hw__par
    .c-hw__par-body
      +text-block("Moreover, we identified additional gaps and rooms for improvement that lie behind our future product offering! Stay Tuned !")
  
  .c-hw__text-block
    +title("Competences: we know where we are good at")
    +text-block("First of all, FashTime is focused on building a social community and sharing its powerful vision within it.<p>Our core competences are 'social networking' and 'social sharing' (we're strongly positioning here). Our complementary assets are 'social shopping' and 'social analytics' (we're adding value here too).</p>")
