include title
include title-squared
include text-block

.c-hw
  .c-hw__par
    .c-hw__par-content
      +title("What we understood: Gaps and Room for Improvement")
      .c-hw__par-title The Perception of Fashion
      +text-block("The fashion social-digital market is stuck on an old perception of fashion. The concept of fashion is associated with vocabularies such as ‘feminine’ ‘fashion blogging’ ‘shopping’, ‘piece of cloth’. Fashion Apps are perceived as ‘Fashion Apps’: UX/UI have a feminine feeling or design in order to directly target the female segment. The male segment results to not have been targeted as much.")
  .c-hw__par
    .c-hw__par-content
      .c-hw__par-title Networking & Connecting
      .c-hw__par-body
      +text-block("Large social networks contain too much not fashion-related content, while fashion apps lack original social features. Moreover, Fashion apps don’t differentiate among categories of users (no unification of users under the same social social community).")
  .c-hw__par
    .c-hw__par-content
      .c-hw__par-title Sharing & Discovering - Part 1
      +text-block("Social apps, such as Instagram and Snapchat, have shown how transforming the way we share our life is key & a core differentiator. Fashion apps have focused on perfecting the way users tag fashion-related products during the sharing process: the market is full of (Instagram) copy cats. Finally, tags & filters are too product-oriented: the focus is on ‘What I wear’ while ‘What I do’, ‘Where I do it’ & ‘When I do it’ has not been emphasized yet.")
  .c-hw__par
    .c-hw__par-content
      .c-hw__par-title Sharing & Discovering - Part 2
      +text-block("Current social network apps have been pushing towards a more ephemeral photo-video sharing experience (‘Living the moment is more fun'). However, the main industry players are still focusing on older competences: the digital preservation of memories. Certain fashion apps have also tried to build an environment of digital preservation, by empowering users to create virtual closets.")
      +text-block("Overall, the industry incumbents have not been able (yet) to: empower users to preserve their past by summarizing ‘lasting’ digital life’s moments in a comprehensive, fun and magical way; make preserving and sharing ‘lasting’ digital life’s moments cool again; empower users to relive their life’s moments in a fast and magical way (with only a few touches).")
  .c-hw__par
    .c-hw__par-content
      .c-hw__par-title Liking & Thinking
      +text-block("Likes nowadays are meaningless. Liking a post is for some users a form of passive, routinized action. On the contrary, those users who may be interested in a content don’t hit the thumb up, double tap or express any kind of reaction. Moreover, likes are not fractionable. Likes can be bought, aren’t divisible and nobody knows who or what is truly #trending anymore.")
  .c-hw__par
    .c-hw__par-content
      .c-hw__par-title Helping & Taking Decisions
      +text-block("A couple of apps have been trying to help users take (fashion- related) decisions: incumbents have focused on allowing users to create social polls & survey-like posts within a community (i.e. what should I wear? A or B?). However, incumbents have not found a way to make users more open to recommendations & to recommend yet. Above all, when it comes to enhance (fashion-related) decision-making processes/comparative choices, incumbents have not focused on the B2B side. Finally, 3rd party B2B players focus on boosting social media engagement and facilitating e-commerce purchasing on social media.")
  .c-hw__par
    .c-hw__par-content
      .c-hw__par-title Data Gathering & Analytics
      +text-block("Instant analytics is a hot trend in the social industry.<br>A very low number of social fashion apps owns the capability to offer high-quality, low-price, in-house analytics services to brands and professional users. 3rd party analytics B2B players focus on followers/post statistics and are a scanner of social media noise. However, they are expensive. As far as the scope of an analytics service is concerned, there is still room for differentiation.")

  .c-hw__competences

    include divider

    +title("Competences: We know what we are good at")
    +text-block("First of all, FashTime is focused on building a social community and sharing its powerful vision within it.")
    +text-block("Our core competences are 'social networking' and 'social sharing' (we're strongly positioned here). Our complementary assets are 'social shopping' and 'social analytics' (we're adding value here too).")
