.c-hw
  .c-hw__text-block
    - var textBlockTitle = "Competences: we know where we are good at"
    - var textBlockText = "First of all, FashTime is focused on building a social community and sharing its powerful vision within it.<p>Our core competences are 'social networking' and 'social sharing' (we're strongly positioning here). Our complementary assets are 'social shopping' and 'social analytics' (we're adding value here too).</p>"
    include text-block
