include text-block

.c-masthead
  .c-masthead__lead
    +text-block("FashTime LTD. is a purpose/vision/mission/values-driven tech startup, operating in the social-digital industry. Our products are the practical and natural translation of a clear purpose, vision, mission and values. Follow the way of the butterfly...")
