include text-block

.c-masthead.c-masthead--colored
  .c-masthead__lead
    +text-block("The founders team is an unusual but fitting combination of different skills, backgrounds and personalities. Its members come from three different countries (Italy, Germany, Spain) and they are all under 27yo. ")
    +text-block("The whole team met in Madrid Spain during the first months of 2015. Mauro Di Benedetto and Marco Borgato met during their undergrad studies at Bocconi University (Milan). Marco had the idea to implement the concept of time for a social app back in 2013. ")
    +text-block("The FashTime Team is focused on building a culture made of purpose/vision/mission/values-driven individuals and design thinkers. Follow the way of the butterfly...")
