.c-masthead
  .c-masthead__lead FashTime is vision/purpose/mission/values-driven, but it also follows a design-thinking approach. That means we work every day on passing on our vision to the world; a vision that derives from immersing ourselves into the market and empathizing with users. Indeed, we paid attention to uncover unmet market needs that eventually built up our purpose, vision, mission and values. More precisely, we identified the following six market / industry gaps and rooms for improvement. Follow the way of the butterfly...
