header.c-masthead
  .c-masthead__lead the new way...
  .c-masthead__video
    <iframe src="https://player.vimeo.com/video/215630382" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  a.c-masthead__arrow(href="#sitemap")
    img(src="images/arrow-bottom.png", alt="")
