.c-masthead
  .c-masthead__logo
    img(src="images/mobile-app.png")
  .c-masthead__lead FashTime...<br>Made For The Millennial Generation
  .c-masthead__btns
    a.c-masthead__ios-btn(href="https://itunes.apple.com/gb/app/fashtime-the-new-way/id1126538070?mt=8")
      img(src="images/apple.png", alt="")
    a.c-masthead__andr-btn
      img(src="images/playstore.png", alt="")
      span Soon
