header.c-masthead
  .c-masthead__lead the new way...
  .c-masthead__logo
    img(src="images/butterfly-colored.png", alt="FashTime's logo")
  //- .c-masthead__video
  //-   video
  a.c-masthead__arrow(href="#sitemap")
    img(src="images/arrow-bottom.png", alt="")
