header.c-masthead
  .c-masthead__lead the new way...
  .c-masthead__logo
    img(src="images/raw/icons/butterfly.svg", alt="FashTime's logo")
  .c-masthead__btns
    .c-masthead__ios-btn
      img(src="images/raw/icons/apple.png", alt="")
    .c-masthead__andr-btn
      img(src="images/raw/icons/playstore.png", alt="")
      span Soon
  .c-masthead__arrow
    img(src="images/raw/icons/arrow-bottom.png", alt="")
