include title
include title-squared
include text-block

.c-mobile
  include products-strip
  +title("The FashTime mobile app: What it is and how it works")
  +text-block("FashTime’s mobile app is simply the new way (of perceiving Fashion). More specifically, FashTime’s mobile app is...")
  .c-mobile__screen
    .c-mobile__img
      img(src="/images/iphone-mockup.jpg", alt="")
    .c-mobile__descr
      .c-mobile__descr-title 1. The new way of joining & connecting with a social community.<br>Join & Connect Smarty
      .c-mobile__descr-body
        | -- The Profile Bubbles: Simply smarter --
        div • Choose how to play. Sign up as Normal User or Pro one.
        div • Our pro ‘bubbles’ categories include: influencers, models, designers, photographers, magazines, brands.
  .c-mobile__screen
    .c-mobile__img
      img(src="/images/iphone-mockup.jpg", alt="")
    .c-mobile__descr
      .c-mobile__descr-title 2. The new way of sharing our life & discovering others'<br>Share & Discover Magically
      .c-mobile__descr-body
        | -- The Bubble Posts: Simply more fun  --
        div • Two new type of posts: Moments (1photo post) & Challenges (2photos in1post).
        div • Tag what you do, when, where & how you are with our bubbles.
        div • Set the expiration date of a Challenge. Challenges can stay active up to max 1 week.
        div • Share everywhere
        div • Users can click the bubbles to filter content.
  .c-mobile__screen
    .c-mobile__img
      img(src="/images/iphone-mockup.jpg", alt="")
    .c-mobile__descr
      .c-mobile__descr-title 3. The new way of liking & thinking<br>Like & Think Differently
      .c-mobile__descr-body
        | -- The Fash Time: Be Free from Likes --
        div • Users can: Zoom and play with each post. Opening a photo makes spend seconds on it. Users can spend up to 15 seconds.
        div • No more meaningless likes. Gain as many seconds you can. It’s about how much Time people spend on you. Check your Fash Time
        div • You can spent Time too. After spending it, you have to collect it again. Stay Active. Time is money Check your Spendable Fash Time (SFT).
  .c-mobile__screen
    .c-mobile__img
      img(src="/images/iphone-mockup.jpg", alt="")
    .c-mobile__descr
      .c-mobile__descr-title 4. The new way of voting & taking decisions<br>Help Others & Decide Quickly (Playfully)
      .c-mobile__descr-body
        | -- The Fash Swipe: like tinder, applied to 2 photos --
        div • By posting a challenge (2 photos), you’re implicitly asking a question or you’re up to recommendations. Therefore, you need an answer fast.
        div • By swiping left or right, it’s possible to express a preference on 2 photos. Once a challenge expires, see how many swiped A or B. Act accordingly.
        div • Challenges are not invasive poll. No more comments or boring interfaces. It’s a fun game.
  +text-block("<p>In other words, FashTime’s mobile app is the #1 photo-sharing app to [i] sketch out our life's stories, [ii] be Time-based, [iii] introduce the swipe-to-vote on two paired photos. This way, FashTime transforms how we perceive Fashion, ourselves and the world around us. Moreover, it makes us more connected, wishful to share and willing to help (through fashion). With FashTime we can [i] wear our true colors, [ii] feel truly recognized for who we are and [iii] become our best selves, together.")
  +text-block("It's smart...magical...different...quick. It's FashTime, the new way.")
