.c-p-strip
  a.c-p-strip__item(href="/fashtime_mobile.html")
    img.c-p-strip__item-icon(src="/images/mobile-app.png")
    .c-p-strip__item-label FashTime mobile app
  a.c-p-strip__item(href="/fashtime_business.html")
    img.c-p-strip__item-icon(src="/images/web-app.png")
    .c-p-strip__item-label FashTime web app
  a.c-p-strip__item(href="/fashtime_business.html")
    img.c-p-strip__item-icon(src="/images/analytics-app.png")
    .c-p-strip__item-label FashTime Analytics
