.c-p-strip
  .c-p-strip__item
    img.c-p-strip__item-icon(src="/images/mobile-app.png")
    .c-p-strip__item-label FashTime mobile app
  .c-p-strip__item
    img.c-p-strip__item-icon(src="/images/web-app.png")
    .c-p-strip__item-label FashTime web app
  .c-p-strip__item
    img.c-p-strip__item-icon(src="/images/analytics-app.png")
    .c-p-strip__item-label FashTime Analytics
