footer.c-footer
  #sitemap.c-sitemap
    .c-sitemap-block
      .c-sitemap-list-title Download
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="https://itunes.apple.com/gb/app/fashtime-the-new-way/id1126538070?mt=8") Download for iOS
        li.c-sitemap-item
          a.o-link(href="#" disabled) Download for Android Soon

    .c-sitemap-block
      .c-sitemap-list-title Company
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="/about.html") About
        li.c-sitemap-item
          a.o-link(href="/team.html") Team
        li.c-sitemap-item
          a.o-link(href="/home_work.html") Home work
        li.c-sitemap-item
          a.o-link(href="mailto:info@fash-time.com") Contacts

    .c-sitemap-block
      .c-sitemap-list-title Products
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="/fashtime_mobile.html") FashTime Mobile
        li.c-sitemap-item
          a.o-link(href="/fashtime_business.html") FashTime For Business
        li.c-sitemap-item
          a.o-link(href="#" disabled) More Coming Soon!

    .c-sitemap-block
      .c-sitemap-list-title Community
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="https://medium.com/the-way-of-the-butterfly")
            | Blog
            img(src="/images/medium.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="https://www.facebook.com/pg/FashTimeLTD/about/?ref=page_internal")
            | Facebook
            img(src="/images/facebook.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="https://www.instagram.com/fashtime/")
            | Instagram
            img(src="/images/instagram.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="https://www.linkedin.com/company-beta/10413917/")
            | Linkedin
            img(src="/images/linkedin.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="https://angel.co/fashtime-2")
            | AngelList
            img(src="/images/angellist.png", alt="Site logo")

    .c-sitemap-block
      .c-sitemap-list-title Legal
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="https://www.fash-time.com/privacy.html") Privacy
        li.c-sitemap-item
          a.o-link(href="https://drive.google.com/drive/folders/0B9zwbYvbceBKalRac3A0WVZtbEE") Terms
