footer.c-footer
  .c-sitemap
    .c-sitemap-block
      .c-sitemap-list-title Download
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="#") Download for iOS
        li.c-sitemap-item
          a.o-link(href="#" disabled) Download for Android Soon

    .c-sitemap-block
      .c-sitemap-list-title Company
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="#") About
        li.c-sitemap-item
          a.o-link(href="#") Team
        li.c-sitemap-item
          a.o-link(href="#") Home work
        li.c-sitemap-item
          a.o-link(href="#") Contacts

    .c-sitemap-block
      .c-sitemap-list-title Products
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="#") FashTime Mobile
        li.c-sitemap-item
          a.o-link(href="#") FashTime For Business
        li.c-sitemap-item
          a.o-link(href="#" disabled) More Coming Soon!

    .c-sitemap-block
      .c-sitemap-list-title Community
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="#")
            | Blog
            img(src="/images/raw/icons/medium.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="#")
            | Facebook
            img(src="/images/raw/icons/facebook.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="#")
            | Instagram
            img(src="/images/raw/icons/instagram.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="#")
            | Linkedin
            img(src="/images/raw/icons/linkedin.png", alt="Site logo")
        li.c-sitemap-item
          a.o-link(href="#")
            | AngelList
            img(src="/images/raw/icons/angellist.png", alt="Site logo")

    .c-sitemap-block
      .c-sitemap-list-title Legal
      ul.c-sitemap-list
        li.c-sitemap-item
          a.o-link(href="#") Privacy
        li.c-sitemap-item
          a.o-link(href="#") Terms
