include title
include team-member

-
  var members = [
    {
      avatar: "/images/mauro.jpg",
      role: "CEO",
      name: "Marco Di Bendetto",
      age: "24",
      nationality: "Italian",
      linkedin: "https://www.linkedin.com/in/maurodibenedettoconsulting/",
      angellist: "#",
      bio: "Responsible for all matters. Manages business clients, events and press (& more)"
    }, {
      avatar: "/images/marco.png",
      role: "CVO/CIO/CPO",
      name: "Mauro Borgato",
      age: "24",
      nationality: "Italian",
      linkedin: "https://www.linkedin.com/in/marco-borgato-3139337b/",
      angellist: "https://angel.co/marco-borgato-",
      medium: "https://medium.com/@marcoborgato",
      bio: "Shapes purpose, vision & mission of the company; shapes new ideas, design products, manage products (& more)"
    }, {
      avatar: "/images/kai.jpg",
      role: "CSO",
      name: "Kai Schildhauer",
      age: "26",
      nationality: "German",
      linkedin: "https://www.linkedin.com/in/kaischildhauer/",
      angellist: "#",
      bio: "Takes care of financial/administrative/sales aspects (& more)"
    }, {
      avatar: "/images/alejandro.png",
      role: "CTO",
      name: "Alejandro Carrera",
      age: "26",
      nationality: "Spanish",
      linkedin: "https://www.linkedin.com/in/alejandrofcarrera/",
      angellist: "#",
      bio: "Develops and codes the FashTime platform (& more)"
    }
  ];

section.c-team
  +title("The FashTime Founders")

  .c-team__cols
    .c-team__col
      +team-member(members[0])
      +team-member(members[2])
    .c-team__col.c-team__col--center
      img.c-team__butterfly(src="/images/butterfly-colored.png")
    .c-team__col
      +team-member(members[1])
      +team-member(members[3])

  .c-team__tools
    +title("How we work: A strongly organized startup")

    .c-team__tool
      .c-team__tool-img
        img(src="/images/axure.png")
      .c-team__tool-descr Functional & creative briefs, prototyping, wireframing, UX design, functional design

    .c-team__tool
      .c-team__tool-img
        img(src="/images/slack.png")
      .c-team__tool-descr Team collaboration and communication

    .c-team__tool
      .c-team__tool-imgs
        .c-team__tool-img
          img(src="/images/asana.png")
        .c-team__tool-img
          img(src="/images/drive.png")
      .c-team__tool-descr Startup Management (product + all other units)
